@import "reset.css";
@import "theme.css";

body {
  background-color: var(--background-color);
  font: 300 28px/1.6 "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
  color: var(--ink-color);
}

h1 {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 1em;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 10em;
  margin: 0 auto;
  grid-gap: 1rem;
}

.calculator__num,
.calculator__ops,
.calculator__viewer {
  transition: all 0.25s;
  color: var(--ink-color);
}

.calculator__num,
.calculator__viewer {
  background: var(--primary-color);
}

.calculator__ops {
  background: var(--secondary-dark-color);
}

.calculator__viewer {
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  height: 3em;
}

.calculator--broken .calculator__num,
.calculator--broken .calculator__ops {
  transform: rotate(540deg);
  transition: all 1s;
}

.calculator__clear {
  color: var(--secondary-color);
  background: none;
  height: 1.25em;
  width: 1.25em;
  border: none;
  margin: 0 0.5em;
  transition: all 0.25s;
}

.calculator__clear:hover {
  color: var(--danger-color);
}

.calculator__clear:active {
  filter: brightness(150%);
}

.calculator__result {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  margin: 0 0.5em;
}

.calculator__num,
.calculator__ops {
  border: 0;
  cursor: pointer;
  font: inherit;
  height: 2em;
}

.calculator__num:hover {
  background: var(--primary-light-color);
}

.calculator__ops:hover {
  background: var(--secondary-color);
}

.calculator__ops:active,
.calculator__num:active,
.calculator__btn--active {
  filter: brightness(180%);
}

@media (max-width: 720px) {
  body {
    padding-top: 2em;
  }
}
